<div class="container">
<form action="/login" method="post" class="p-5">
  <!-- Email input -->
  <div class="form-outline mb-4">
    <input type="email" id="form2Example1" class="form-control" name="email"/>
    <label class="form-label" for="form2Example1">Email address</label>
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
    <input type="password" id="form2Example2" class="form-control" name="password" />
    <label class="form-label" for="form2Example2">Password</label>
  </div>

  {{#if loginErr}}
  <p class="alert alert-danger">{{loginErr}}</p>
  {{/if}}
    <div class="col">
      <!-- Simple link -->
      <a href="#!">Forgot password?</a> 
    </div>
  </div>

  <!-- Submit button -->
  <div class="text-center">
  <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>
  </div>
  <!-- Register buttons -->
  <div class="text-center">
    <p>Not a member? <a href="/signup">Register</a></p>
   
  </div>
</form>
</div>